.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.right {
  width: auto;
  height: auto;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 130px;
  margin-left: 330px;
  border: 1px solid;
}

.map {
  margin-top: 10px;
}

 /* Define a variable to store the icon size */
:root {
  --icon-size: 1em;
}

/* Set the height of the map container to 100% of the viewport height */
.right {
  height: 100vh;
}

/* Define styles for the map */
 

/* Define styles for the icon */
 

/* Apply different styles for small screens */
@media screen and (max-width: 768px) {
  :root {
    --icon-size: 0.8em;
  }
}

